<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here -->
       
             <bean id="userIO" class="com.sg.flooringmaster.ui.UserIOConsoleImpl"/>
       
             <bean id="view" class="com.sg.flooringmaster.ui.FlooringMasterView">
                <constructor-arg ref="userIO"/>
             </bean>    
            <bean id="flooringMasterDao" class="com.sg.flooringmaster.dao.FlooringMasterDaoFileImpl">
                
            </bean>      
            <bean id="serviceLayer" class="com.sg.flooringmaster.service.FlooringMasterServiceLayerImpl">
                <constructor-arg ref="flooringMasterDao"/>          
            </bean>
            <bean id="serviceLayerStub" class="com.sg.flooringmaster.service.FlooringMasterServiceLayerStubImpl">
                <constructor-arg ref="flooringMasterDao"/>          
            </bean>            
            <bean id="controller" class="com.sg.flooringmaster.controller.FlooringMasterController">
                 <constructor-arg ref="serviceLayer"/>
                 <constructor-arg ref="view"/>   
                 <constructor-arg ref="serviceLayerStub"/>
                 <constructor-arg value="test"/>        
            </bean>    
</beans>
